
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
  color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 30%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    background-color: #a8a8a8;
    text-decoration: none;
    z-index: 99;
    filter: opacity(0.8);

}

li a:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.mainImage{
  width: 100%;
  height: 30%;
}

.bigText{
  color: #333;
  font-size: 6vw;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: transparent;
}

.headText{
  color: #333;
  font-size: 4vw;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: transparent;
}

.imageGallery{
  width: 100%;
  height: auto;
  min-width: 300px;
  transition: .3s ease-in-out;
}

.imageGallery:hover{
  box-shadow: 0 0 8pt 3pt #333;
  transform: scale(1.03);
}

.video{
  width: 70%;
  z-index: 2;
  margin-top: 100px;
  text-align: center;
  margin-left: 15%;
}

main{
  background-color: #C1C1C1;
}

.item{
  width: 40%;
  margin: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  padding-top: 5%;
}

.galleryInfo{
  margin: 20px;
}

.Gallery{
  max-height: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contactInfo{
  padding-bottom: 200px;
}

.contact{
  background-color: white;
  padding-top: 100px;
}
